*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: orbitron,sans-serif;
}
body,.time,.left-side, .right-side,.right-top,.right-down{
    display: flex;
    justify-content: center;
    align-items: center;
}
.DigitalClock, .time,.right-side{
    position: relative;
}
body{
    min-height: 80vh;
    background: #0a012e;
}
.Digital-Clock{
    color: #fff;
        background: #1b055838;
        width: 425px;
        padding: 20px 45px;
        box-shadow: 0 5px 25px rgba(61, 94, 226, 0.8);
        border-radius: 10px;
}
.Digital-Clock::before{
    content: '';
    position: absolute;
    background: linear-gradient(45deg,
    blue,rgb(200, 28, 48),green);
    background-size: 200% 200%;
    top: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1 ;
    filter: blur(30px);
}
#hours{
    font-weight: 600px;
    padding: 0 10px;
    line-height: 125px;
    font-size: 8em;
    background: -webkit-linear-gradient(90deg,rgb(13, 107, 110),white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.right-side{
    flex-direction: column;
}
#dots{
    font-size: 4em;
    transform: translateY(-3px);
    color: gray;
}
#minutes{
    font-size: 5em;
    font-weight: 500;
    margin-left: 10px;
    transform: translateY(10px);
        background: -webkit-linear-gradient(90deg,blue,white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 20px;

}
.right-down{
    margin-left: 10px;
    transform: translateY(-25px);
}
#period,#Seconds{
font-size: 1.8rem;
font-weight: 500;
margin-left: 10px;

}
#period{
    color: orange;
}
#seconds{
    color: white;
}